[Unit]
Description=Logs some system statistics to the systemd journal
Requires=ddns.service

[Timer]
Unit=ddns.service
OnCalendar=*-*-* *:05:00
RandomizedDelaySec=3600

[Install]
WantedBy=timers.target
